.header {
  background-color: #333;
  height: 40px;
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 1048px;
}

.header-navigation ul {
  display: flex;
  list-style: none;
  gap: 30px;
}