.header {
  background-color: #1b1b1b;
  height: 50px;
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 1048px;
}

.header-wrapper div:hover{
  cursor: pointer;
}

.header-navigation ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.header-navigation ul li:nth-child(5) {
  background-color: green;
  padding: 4px 26px;
  border-radius: 5px;
}

.header-navigation ul li:hover {
  cursor: pointer;
}