.new-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.add-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  transition: all ease 0.1s;
}

.add-section:hover {
  background-color: #1a1a1a;
  cursor: pointer;
}

.add-section:hover > .add-section-button {
  filter: invert(70%);
}

.add-section-button {
  height: 70px;
  filter: invert(30%);
  transition: all ease 0.4s;
}

.delete-section-button {
  position: absolute;
  right: 100px;
}