.editable-title {
  margin: 5px 0px;
}

.portfolio-profile-title {
  background-color: transparent;
  color: white;
  border: none;
  z-index: 100;
  width: 100%;
}

.editable-title input:focus ~ .edit-tools-profile-title {
  display: flex;
}

.edit-tools-profile-title {
  display: none;
  background-color: gray;
  border-top: #575757 solid 7px;
  border-radius: 5px;
  padding: 2px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 60px;
  width: 160px;
  position: absolute;
  transform: translateX(380px);
}

.edit-tools-profile-title:focus-within {
  display: flex;
}

.edit-tools-profile-title:hover {
  display: flex;
}