.add-section-modal-overlay {
  background-color: rgba(0, 0, 0, 0.219);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
}

.add-section-modal {
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 12px 18px 1px rgb(0 0 0 / 20%);
  position: relative;
  margin: auto;
  border-top: solid #444444 8px;
  background-color: #585858;
  width: 900px;
  border-radius: 4px;
}

.add-section-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5px;
  padding: 10px;
  box-shadow: -1px 7px 13px 5px rgba(0, 0, 0, 0.123);
}

.add-section-modal-header h3{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 4px;
}

.add-section-modal-header-button {
  outline: #a1a1a1 2px solid;
  border-radius: 4px;
}

.add-section-modal-header-button:hover {
  cursor: pointer;
  transition: all ease 0.3s;
  background-color: gray;
}

.add-section-modal-new-component {
  display: flex;

}

.add-section-modal-aside {
  display: flex;
  flex-direction: column;
  flex: 20%;
}

.add-section-modal-aside div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 100px;
  background-color: rgb(236, 236, 236);
  color: black;
}

.add-section-modal-aside div:hover{
  cursor: pointer;
  filter: brightness(0.9);
}

.add-section-modal-aside div:focus-within{
  filter: brightness(0.9);
}

.add-section-modal-content {
  display: flex;
  flex: 80%;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: auto;
  height: 480px;
  /* background-color: #464646; */
  /* border-radius: 8px; */
  margin: 10px;
}

.add-section-modal-content div, .preview-section-img{
  background-color: rgb(58, 58, 58);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  height: 200px;
  width: 660px;
  outline: 1px solid transparent;
  transition: all ease 0.2s;
}

.add-section-modal-content div:hover, .preview-section-img:hover{
  outline: white 1px solid;
  cursor: pointer;
}