:root {
  --pastel-1: #92507f;
  --pastel-2: #805373;
  --pastel-23: #54495e;
  --pastel-3: #345268;
  --pastel-4: #2f4653;
  --pastel-5:  #252c35;
  --pastel-6: #12121a;
  --pastel-7: #151320;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body {
  background-image: radial-gradient(
    var(--pastel-1),
    var(--pastel-2),
    var(--pastel-23),
    var(--pastel-3),
    var(--pastel-4),
    var(--pastel-5),
    var(--pastel-6),
    var(--pastel-7)
  );
  min-height: 100vh;
  background-size: 600% 500%;
  animation: move 8s alternate infinite
}

@keyframes move {
  from {
    background-position: 10%;
  }
  to {
    background-position: 40% 100%;
  }
}
