.editable-title input {
  /* font-size: 3.0rem; */
  background-color: transparent;
  color: white;
  border: none;
}

.editable-title input:focus ~ .edit-tools-profile-name {
  display: flex;
}

.edit-tools-profile-name {
  display: none;
  background-color: gray;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 60px;
  width: 120px;
  position: absolute;
  transform: translateX(380px);
}

.edit-tools-profile-name:hover {
  display: flex;
}