.profile-image:hover {
  cursor: pointer;
}

.edit-tools-profile-image {
  display: none;
  background-color: gray;
  border-top: #575757 solid 7px;
  border-radius: 5px;
  padding: 2px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 60px;
  width: 160px;
  position: absolute;
  transform: translate(800px, 190px);
}

.profile-image:focus ~ .edit-tools-profile-image {
  display: flex;
}

.edit-tools-profile-image:focus-within {
  display: flex;
}

.edit-tools-profile-image:hover {
  display: flex;
}