header {
  overflow: hidden;
}

.headerTabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
  margin: 30px 0 20px;
}

.headerTabs li {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 42px;
  width: 110px;

  border: solid 2px white;
  border-radius: 10px;
  color: white;

  transition: all ease-out 0.4s;
}

.headerTabs, hr {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.headerTabs li:hover {
  cursor: pointer;
  background-color: rgba(241, 241, 241, 0.493);
}